<template>
  <div class="container">
    <div style="margin: 5% 10%">

      <ejs-autocomplete
        v-model="enteredStockName"
        :dataSource="stockNamesList"
        :fields="dataFields"
        placeholder="Select Stock"
        popupHeight="400px"
        popupWidth="250px"
      >
      </ejs-autocomplete>

      <p v-if="errorMsg">{{ errorMsg }}</p>
    </div>
    <button class="btn btn-2" v-bind:disabled="!isDisabled" @click="getStockData()">
      Search
    </button>
   

    <button class="btn btn-2" id="export" @click="csvExport()">Export CSV</button>

    <table id="tableStock" class="table mt-5 table-hover">
      <thead class="thead-dark">
          <th scope="col" v-for="columnName in tableHeader" :key="columnName">
            {{ columnName }}
          </th>
      </thead>
      <tbody>
        <tr v-for="(content, index) in stockDetails" :key="index">
          <th scope="row">{{ content.CODE }}</th>
          <td>{{ content.NAME }}</td>
          <td>{{ content.OPEN }}</td>
          <td>{{ content.CLOSE }}</td>
          <td>{{ content.HIGH }}</td>
          <td>{{ content.LOW }}</td>
          <td>{{ content.LAST_UPDATED }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import axios from "axios";
import Vue from "vue";
import { AutoCompletePlugin } from "@syncfusion/ej2-vue-dropdowns";
Vue.use(AutoCompletePlugin);

export default {
  name: "StockSearch",

  data() {
    return {
      
      dataFields: { value: "value" },

      tableHeader: [
        "CODE",
        "NAME",
        "OPEN",
        "CLOSE",
        "HIGH",
        "LOW",
        "LAST_UPDATED",
      ],

      stockDetails: [],

      enteredStockName: "",
      
      stockNamesList: [],
     
      errorMsg: "",

      stockDataUrl : "http://140.238.227.41:8000/stockdata",

      stockNamesListUrl : "http://140.238.227.41:8000/stockdata/stockslist",

      convertCsvUrl : "http://140.238.227.41:8000/stockdata/convertcsv",

    };
  },

  computed: {
    
    isDisabled() {
      return this.enteredStockName != null && this.enteredStockName.length > 0;
    },

  },

  beforeMount() {
    
    axios
      .get(this.stockNamesListUrl)
      .then((response) => {
        if (response.data.status == 200) {
          this.stockNamesList = response.data.result;
        }
        else if (this.stockNamesList.length == 0) {
          alert("No stock exist");
        }
        //console.log(this.stockNamesList);
      })
      .catch((error) => {
        alert("Server not working");
        console.log(error);
      });
  },

  methods: {

    getStockData() {

      axios.get(this.stockDataUrl, {
          params: { name: this.enteredStockName },
        })
        .then((response) => {
          if (response.data.status == 200) {
            this.deleteStockIfExist(this.enteredStockName);
            this.addTableRow(response.data.result, this.enteredStockName);
            this.errorMsg = "";
          } else {
            this.errorMsg = "invalid input";
          }
          //console.log(response.data)
        })
        .catch(() => {
          alert("Server not working");
         // console.log(error);
        });

    },

    deleteStockIfExist(inputStockName) {

      let indexOfExisting = -1;
      for (let i = 0; i < this.stockDetails.length; i++) {
        if (this.stockDetails[i].NAME == inputStockName) {
          indexOfExisting = i;
          break;
        }
      }
      if (indexOfExisting >= 0) {
        this.stockDetails.splice(indexOfExisting, 1);
      }
    },

    addTableRow(result, inputStockName) {
      console.log(result);
      this.stockDetails.unshift({
        CODE: result.SC_CODE,
        NAME: inputStockName,
        OPEN: result.OPEN,
        CLOSE: result.CLOSE,
        HIGH: result.HIGH,
        LOW: result.LOW,
        LAST_UPDATED: result.UPDATEDON,
      });
      
      this.enteredStockName = "";
    },

    csvExport() {

      axios({
        url: this.convertCsvUrl,
        method: "GET",
        params: {
          columnNames: JSON.stringify(this.tableHeader),
          rowsData: JSON.stringify(this.stockDetails),
        },
        
        responseType: "blob", 
      })
        
        .then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'Checklist.csv');
          document.body.appendChild(link);
          link.click();
          //console.log(response)
        })
        .catch(() => {
          //console.log(error)
          alert("Could not export")
        });
    },
  },
};
</script>

<style scoped>
@import url(https://cdn.syncfusion.com/ej2/material.css);
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

#ej2_dropdownlist_0{
  font-size: 20px;
}

.btn {
  color: #fff;
  font-size: 16px;
  font-weight: 400!important;
  line-height: 45px;
  margin: 0 2em 2em;
  max-width: 200px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background: #387ed1;

}
.btn:hover, .btn:focus, .btn:active  {
 outline: none!important;
  border: none!important;
}

.btn-2 {
  letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  text-decoration: none;
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}


tr{
  font-family:Times, serif;
  font-weight:bold;
  font-size:20px;
}

</style>