<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <StockSearch msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import StockSearch from './components/StockSearch.vue'

export default {
  name: 'App',
  components: {
    StockSearch
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;

}

</style>
